<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {{> header}}
  <h1>Olá, {{email}}!</h1>
  <p>esse é um e-mail de boa vindas</p>

  <p>{{mensagem}}</p>
  {{> footer}}
</body>

</html>
